body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    display:  flex;
    flex-direction: row;
    align-items: center;
}
#top {
    display: flex;
    margin: 20px;
}
#item-1 {
    margin-left: 1040px;
    font-size: 13px;
    text-decoration: none;
    color: gray;
}
#item-1:hover {
    text-decoration: underline;
}
#item-2 {
    margin-left: 25px; 
    font-size: 13px; 
    text-decoration: none;
    color: gray;  
}
#item-2:hover {
    text-decoration: underline;
}
#container2 {
    display: grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    grid-gap: 2px;
    margin-left: 20px;
}
#container2:hover {
    box-shadow: 0px 0px 5px rgba(80, 80, 80, 0.3);
    background-color: rgba(60, 60, 60, 0.1);
}
#container2 > div {
    background-color: rgb(50, 50, 50);
}
#sign-in {
    background-color: rgba(76, 123, 253, 0.753);
    margin-left: 30px;
    height: 30px;
    width: 70px;
    border-radius: 2px;
    text-align: center;
}
#item-3 {
    font-size: 12px;
    margin-top: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#img {
    margin: 130px 530px auto; 
}
#search {
}
#search-place{
    display: flex;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 20px;
    margin-left: 420px;
    margin-right: 420px;
}
#search-place:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
#loop {
    height: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
#search-place1 {
    border: 1px solid white;
    width: 425px;
    height: 33px;
    background-color: white;
}
#microphone {
    height: 18px;
    margin-left: 8px;
    margin-top: 8px;
}
.but {
    background-color: rgba(180, 180, 180, 0.3);
    height: 40px;
    width: 130px;
    border: 1px solid white;
    border-radius: 5px;
}
.but:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
#search-google {
    font-size: 13px;
    margin-left: 533px;
}
#feeling-lucky {
    font-size: 13px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#advice {
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 115px;
    text-align: center;
    text-decoration: none;
    color: rgb(130, 130, 130);
}
#count {
    display: flex;
    height: 40px;
    background-color: rgba(190, 190, 190, 0.2);
}
#cou {
    margin: 10px;
    margin-left: 30px;
    color: gray;
    font-size: 13px;
}
#line {
    border: 1px solid rgba(150, 150, 150, 0.5);
}
#country {
    display: flex;
    background-color: rgba(190, 190, 190, 0.2);
    font-size: 13px;
    color: gray;
    margin-bottom: 0px;
    text-decoration: none;
}
#footer-info1 {
    margin-left: 30px;
    text-decoration: none;
    color: gray;
}
#footer-info1:hover {
    text-decoration: underline;
}
#footer-info2 {
    margin-left: 30px;
    text-decoration: none;
    color: gray;
}
#footer-info2:hover {
    text-decoration: underline;
}
#footer-info3 {
    margin-left: 30px;
    text-decoration: none;
    color: gray;
}
#footer-info3:hover {
    text-decoration: underline;
}
#footer-info4 {
    margin-left: 30px;
    text-decoration: none;
    color: gray;
}
#footer-info4:hover {
    text-decoration: underline;
}
#footer-info5 {
    margin-left: 650px;
    text-decoration: none;
    color: gray;
}
#footer-info5:hover {
    text-decoration: underline;
}
#footer-info6 {    
    margin-left: 30px;
    text-decoration: none;
    color: gray;
}
#footer-info6:hover {
    text-decoration: underline;
}
#footer-info7 {
    margin-left: 30px;
    text-decoration: none;
    color: gray;
}
#footer-info7:hover {
    text-decoration: underline;
}